* {
    box-sizing: border-box;
           margin: 0;
           padding: 0;
  }
  html, body {
    height: 100%;
    overflow: hidden;
      font-family: 'Roboto Condensed', sans-serif;
  }
  .page {
    height: 100%;
    background-image: linear-gradient(rgb(198, 222, 230), skyblue, rgb(74, 187, 221), skyblue, rgb(198, 222, 230));

  }

  .content {
    height: 200%;
    transform-origin: top left;
    transition: transform 0.7s cubic-bezier(1, 0.005, 0.24, 1);
    background-color: #f0f0f0;
  }
  .content_inner {
    height: 30%;
    overflow-y: auto;
    padding: 30px 10%;
  }

 
  /* basically all styling from now on */
  .menu_toggle {
    z-index: 900;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100px;
    height: 80px;
    background-color: skyblue;
    border-bottom-right-radius: 100%;
  }
  .menu_toggle:active i {
    opacity: 0.8;
  }
  .menu_toggle i {
    color: #f0f0f0;
  }
  .menu_toggle .menu_open, .menu_toggle .menu_close {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -12px;
    transition: transform 0.5s cubic-bezier(1, 0.005, 0.24, 1);
  }
  .menu_toggle .menu_open {
    transform-origin: -100px -100px;
  }
  .menu_toggle .menu_close {
    transform: rotate(20deg);
    transform-origin: -100px -160px;
  }
  .menu_items {
    position: fixed;
    bottom: 0;
    left: 50px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu_items li {
    height: 60%;
    margin-bottom: 30%;
    transform: translateX(-300px);
    transition: transform 0.7s 0s cubic-bezier(1, 0.005, 0.24, 1);
  }
  .menu_items li:nth-child(2) {
    margin-left: 40%;
  }
  .menu_items li:nth-child(3) {
    margin-left: 80%;
  }
  .menu_items a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #a4a4a4;
    transition: color 0.2s;
  }
  .menu_items a .icon {
    position: relative;
    display: inline-block;
    margin-right: 25px;
    color: #f0f0f0;
  }
  .menu_items a .icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    margin-left: -33px;
    margin-top: -32px;
    border-radius: 100%;
    border: 2px solid #f0f0f0;
    transition: border-color 0.2s;
  }
  .menu_items a:hover {
    color: #f0f0f0;
  }
  .menu_items a:hover .icon:after {
    border-color: skyblue;
  }
  .menu_items a:active .icon {
    color: skyblue;
  }
  
  
  .shazam .content {
    transform: rotate(-30deg);
  }
  .shazam .menu_open {
    transform: rotate(-20deg);
  }
  .shazam .menu_close {
    transform: rotate(0);
  }
  .shazam .menu_items li {
    transform: translateX(0);
    transition: transform 0.35s 0.45s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .shazam .menu_items li:nth-child(2) {
    transition-delay: 0.47s;
  }
  .shazam .menu_items li:nth-child(3) {
    transition-delay: 0.48s;
  }
  h1 {
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
  }
  body {
    color: #000000;
  }
          .social i{
              font-size: 20px;
              background-color: #f37272;
              width: 40px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              color: white;
              border-radius: 50px;
          }
      