.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.089);
    }
    
.navbar ul{
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li{
    margin: 0;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(29, 5, 168);
    transition: 0.8s;
}


.navbar ul li a:hover{
    color: skyblue;
}


.navbar a{
    z-index: 1;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #07385f;
    text-transform: uppercase;
    /* letter-spacing: 4px; */
    text-decoration: none;
    font-size: 10px;
    overflow: hidden;
    transition: 0.2s;
}

.navbar a:hover{
    color: #255784;
background: #2196f3;
box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
transition-delay: 1s ;
}


 .navbar a span{
    position: absolute;
    display: block;
}

.navbar a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f2);
}
.navbar a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.navbar a span:nth-child(3){
    bottom: 0;
  right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f2);
}
.navbar a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.navbar a span:nth-child(2){
    top: -100%;
  right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f2);
}
.navbar a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.navbar a span:nth-child(4){
    bottom: -100%;
  left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f2);
}
.navbar a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
