/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 32%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row .column img{
  width: 200px;
  height: 200px;
}


.collapsible {
  background-color: rgba(119, 119, 119, 0.158);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}
section#MyProjects .content a
{
  position: relative;
 
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0);
}
section#MyProjects .content a:before
{transform: translateY(40px);
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
background:linear-gradient(315deg, #05387a, #15016d);
transform: skew(2deg,2deg );
z-index: -1;

}

section#MyProjects .content a:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
section#MyProjects .content a{
  text-transform: uppercase;

}
section#MyProjects .content a:link,.content a:visited {
  background-image: linear-gradient(rgba(15, 166, 216, rgba(69, 188, 235, 0.11)88, 235), rgba(74, 187, 221, 0.075));
 
  color: white;
  padding: 9px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

section#MyProjects .content a:hover,.content a:active {
  background-color:  #2196f2;
}

.active, .collapsible:hover {
  background-color:  rgba(10, 87, 145, 0.212);
}

section#MyProjects .content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background: transparent;
  
}