/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #72727250; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(90, 90, 90); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 99); 

}