*{
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    color: #dddddd;
    line-height: 1.6;
    height: 100vh;
    background-image: url('stars.jpg');

   
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: 100%;
    height: 100%;
}



section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
width: 100%;
height: 100%;
scroll-snap-align: center;
}


section h1{
font-size: 4rem;
}


section p{
font-size: 1.5rem;
}


/* Section Images */

section#Home {

     /* The image used */
  background-image: url('stars.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


section#About {
  
        /* The image used */
  

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  
}


.box
{
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.box::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
background: rgb(187, 46, 46);
transform: skew(2deg,2deg );
z-index: -1;

}
.container .box:nth-child(1):before
{
    background: linear-gradient(315deg, #ff0057, #e64a19);

}

section#About a{
    z-index: 1;
    text-decoration: none;
     color: teal;
    
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    margin-left: auto;
  margin-right: auto;
  top: 30%;
  z-index: 1;
}


/* Responsive layout - makes a  column-layout instead of one row */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }



/* Style for butons */
.s-m{
    margin: 100px auto;
    justify-content: space-around;
    display: flex;
    max-width: 700px;
  }
  .s-m a{
      z-index: 1;
    text-decoration: none;
    font-size: 28px;
    color: #f1f1f1;
    width: 60px;
    height: 60px;
    text-align: center;
    transition: 0.4s all;
    line-height: 58px;
    cursor: pointer;
    background: #314652;
    border-radius: 50%;
    
  }
  .s-m a p{
    font-family: "ChunkFive";
  }
  .s-m a:hover{
    transform: scale(1.2);
  }
  


