
section#About .container
{
    position: relative;
    width: 90%;
    z-index: 1;
}
  

section#About .container .box
{
    position: relative;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

section#About .container .box::before
{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
background: #fff;
transform: skew(2deg,2deg );
z-index: -1;

}

section#About .container .box:nth-child(1):before
{
    background: linear-gradient(315deg, #ff0057, #e64a19);

}

section#About  .container .box:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255,0.05);
    pointer-events: none;
}
section#About  .content
{
    position: relative;
    padding: 20px;
transform: translateY(40px);
}

section#About  .box .content h2
{
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, .05);
    transition: 0.5s;
}

section#About  .box:hover .content h2
{ top: -50px;
}

section#About  .box .content h3
{
    margin: 0 0 10px; 
   padding: 0;
   font-size: 24px;
   font-weight: 500;
   color: #fff;
}

section#About  .box .content p
{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 16px;
}

section#About  .box .content a
{
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-40px);
    opacity: 0;
visibility: hidden;
  
}

section#About  .box:hover .content a
{
    transform: translateY(0);
    opacity: 1;
visibility: visible;
}

section#About  .box .content a:hover
{
    color: #000;
    background: #fff;
}